credential.env
!/test/fixtures/**/accounts
!/test/fixtures/**/base_accounts
/search/**/accounts
/display/**/accounts
/search/**/base_accounts
/display/**/base_accounts
token.*
res.*
!test/fixtures/**/res.json
data.*
schema.*
*.header
*.jsonl
!test/fixtures/*.jsonl
*.tmp
ng.json

# Test artifacts
test/sandbox/
run.*
assert.out
