credential.env
/search/**/accounts
/display/**/accounts
/search/**/base_accounts
/display/**/base_accounts
token.*
res.*
data.*
schema.*
*.header
*.jsonl
!test/fixtures/*.jsonl
*.tmp
ng.json

# Test artifacts
test/sandbox/
run.*
assert.out
